@media (max-width: 1105px){
    .tarifs{
        &__container{
            grid-template-columns: repeat(2, 1fr);
            article{
                width: 100%;
                max-width: none;

            }
        }
    }
}

@media(max-width: 617px){
    .tarifs{
        &__container{
            grid-template-columns: 1fr;
        }
    }
}