*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html {
  overflow-x: hidden;
}

.wrapper {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Visuelt Pro", "sans-serif";
  font-size: 56px;
  font-weight: 500;
  line-height: 70px;
}

h2 {
  font-family: "Visuelt Pro", "sans-serif";
  font-weight: 500;
  font-size: 36px;
  line-height: 40px;
}

h3 {
  font-family: "Visuelt Pro", "sans-serif";
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.headline {
  font-family: "Visuelt Pro", "sans-serif";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #4754EB;
}

.body {
  font-family: "Visuelt Pro", "sans-serif";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.span {
  font-family: "Visuelt Pro", "sans-serif";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.tableText {
  font-family: "Visuelt Pro", "sans-serif";
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.discription {
  font-family: "Visuelt Pro", "sans-serif";
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.blueButton {
  padding: 16px 24px;
  font-size: 16px;
  background-color: #4754EB;
  border: none;
  border-radius: 16px;
  color: #fff;
  font-family: "Visuelt Pro", "sans-serif";
  font-weight: 500;
}

* {
  border: 1px solid red;
}

header {
  background-color: #fff;
  display: flex;
  padding: 26px 56px;
  border-radius: 24px 24px 0 0;
  width: 100%;
  justify-content: space-between;
}
header .header-left .headline {
  color: #4754EB;
}
header .header-right {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
}
header .header-right nav {
  margin: 0 auto;
}
header .header-right nav ul {
  display: flex;
  list-style-type: none;
  color: #808080;
  gap: 24px;
}
header .header-right nav ul li {
  cursor: pointer;
}
header .header-right nav ul li:hover {
  text-decoration: underline;
}
header .header-right .headers-buttons {
  display: flex;
  gap: 16px;
}
header .header-right .headers-buttons .lang span:not(span:first-child) {
  cursor: pointer;
  color: #808080;
}
header .header-right .headers-buttons .lang span:not(span:first-child):hover {
  text-decoration: underline;
}
header .header-right .headers-buttons .signin-up a {
  color: #fff;
  padding: 12px 24px;
  background-color: #4754EB;
  border-radius: 16px;
  text-decoration: none;
}

@media (max-width: 1520px) {
  header .header-right {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
  }
}
@media (max-width: 1455px) {
  header .header-right {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
}
.highLVL {
  display: flex;
  background-image: radial-gradient(at 0% 100%, rgba(71, 85, 235, 0.448) 0%, transparent 50%), radial-gradient(at 0% 100%, rgba(134, 51, 176, 0.3) 0%, transparent 20%);
  background-color: white;
  padding: 0px 56px;
}
.highLVL .highLVL-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 50%;
  gap: 40px;
  margin-top: 40px;
}
.highLVL .highLVL-left .form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.highLVL .highLVL-left .form-container form {
  display: flex;
  position: relative;
  width: 72%;
  align-items: center;
}
.highLVL .highLVL-left .form-container form input {
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 16px;
  font-size: 18px;
}
.highLVL .highLVL-left .form-container form button {
  position: absolute;
  right: 8px;
  color: #4754EB;
  border: none;
  background-color: #fff;
  padding: 12px 24px;
  border-radius: 16px;
}
.highLVL .highLVL-left .form-container p {
  font-weight: 400;
  font-size: 12px;
  width: 50%;
  line-height: 16px;
  color: #595959;
  margin-left: 8px;
}
.highLVL .highLVL-left .form-container p span {
  color: #505DEC;
}
.highLVL .highLVL-left .mouse {
  margin-top: 86px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
  line-height: 21px;
}
.highLVL .highLVL-left .mouse p {
  margin-top: 2px;
}
.highLVL .highLVL-right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantages {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.advantages h2 {
  margin-left: 35px;
  margin-bottom: 40px;
}
.advantages .advantages-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.advantages .advantages-container article {
  background-color: #fff;
  box-shadow: 0px 4px 20px 0 rgba(25, 25, 25, 0.05);
  border-radius: 24px;
}
.advantages .advantages-container article .article-title {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
}
.advantages .advantages-container article p {
  padding: 0px 0px 24px 24px;
  padding-top: 16px;
  color: #808080;
  max-width: 390px;
  background-color: rgba(255, 255, 255, 0.5);
}

.howWork {
  background-image: radial-gradient(circle at 15% 68%, rgba(235, 71, 139, 0.5) 5%, transparent 35%), radial-gradient(at 80% 10%, rgba(71, 84, 235, 0.4) 5%, transparent 50%), radial-gradient(at 90% 5%, rgba(134, 51, 176, 0.5) 0%, transparent 20%);
}
.howWork .howWork__container {
  background-color: rgba(255, 255, 255, 0.5);
}
.howWork .howWork__container h2:first-child {
  padding-top: 80px;
  margin-bottom: 40px;
  margin-left: 60px;
}
.howWork .howWork__container .howWork__container-content {
  display: flex;
  margin-left: 60px;
}
.howWork .howWork__container .howWork__container-content .howWork__container-content-left {
  margin-right: 25px;
}
.howWork .howWork__container .howWork__container-content .howWork__container-content-right {
  max-width: 480px;
}
.howWork .howWork__container .howWork__container-content .howWork__container-content-right .top {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}
.howWork .howWork__container .howWork__container-content .howWork__container-content-right .top .span {
  color: #4754EB;
}
.howWork .howWork__container .howWork__container-content .howWork__container-content-right .top .body {
  color: #fff;
}
.howWork .howWork__container .howWork__container-content .howWork__container-content-right h2 {
  margin-bottom: 30px;
}
.howWork .howWork__container .howWork__container-content .howWork__container-content-right .headline {
  margin-bottom: 16px;
}
.howWork .howWork__container .howWork__container-content .howWork__container-content-right .text {
  color: #808080;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 435px;
}
.howWork .howWork__container .howWork__container-content .howWork__container-content-right .text .body {
  font-size: 16px;
}
.howWork .howWork__container .howWork__container-content .howWork__container-content-right button {
  margin-top: 70px;
}

.tarifs {
  background-color: #fff;
  padding-bottom: 80px;
}
.tarifs h2 {
  padding-top: 80px;
  margin-left: 60px;
  margin-bottom: 24px;
}
.tarifs .tarifs-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
  margin: 0 24px;
}
.tarifs .tarifs-container article {
  max-width: 320px;
  box-shadow: 0px 4px 20px 0px rgba(25, 25, 25, 0.05);
  border-radius: 24px;
}
.tarifs .tarifs-container article .article-header {
  padding: 20px 0 0 24px;
}
.tarifs .tarifs-container article .article-header p {
  color: #808080;
}
.tarifs .tarifs-container article .article-header p span {
  color: #4754EB;
}
.tarifs .tarifs-container article .svg-text {
  background-color: rgba(242, 242, 242, 0.5);
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarifs .tarifs-container article .svg-text .item {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 26px;
}
.tarifs .tarifs-container article .svg-text .item img {
  width: 12px;
  height: 12px;
  margin-top: 15px;
}
.tarifs .tarifs-container article .svg-text .item p {
  max-width: 230px;
  color: #808080;
}
.tarifs .tarifs-container article .svg-text button {
  color: #4754EB;
  background-color: #fff;
  margin-top: 16px;
  margin-bottom: 24px;
}

.reviews {
  background-color: #fafafa;
  background-image: radial-gradient(circle at 100% -30%, rgba(134, 51, 176, 0.3) 0%, transparent 40%), radial-gradient(circle at 110% -50%, rgba(235, 71, 139, 0.5) 0%, transparent 35%), radial-gradient(circle at 85% 115%, rgba(71, 84, 235, 0.3) 0%, transparent 25%), radial-gradient(circle at 85% 115%, rgba(134, 51, 176, 0.4) 0%, transparent 20%);
  display: flex;
  padding: 0px 56px 80px 56px;
  flex-direction: column;
}
.reviews h2 {
  margin-bottom: 40px;
  margin-top: 80px;
}
.reviews .reviews-container {
  width: 100%;
  min-height: 608px;
  position: relative;
}
.reviews .reviews-container .cat {
  position: absolute;
  border-radius: 16px;
  background-color: white;
  box-shadow: -2px 4px 20px 0 rgba(25, 25, 25, 0.025);
}
.reviews .reviews-container .cat .cat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.reviews .reviews-container .cat .cat__header .cat-name {
  display: flex;
  align-items: center;
  gap: 16px;
}
.reviews .reviews-container .cat .cat__header p {
  color: #808080;
  margin-right: 10px;
}
.reviews .reviews-container .cat .cat__header img {
  border-radius: 50%;
}
.reviews .reviews-container .cat .cat__text {
  max-width: 600px;
  padding: 16px 24px;
  color: #808080;
}
.reviews .reviews-container .cat .cat__stars {
  padding: 0px 0px 16px 24px;
}
.reviews .reviews-container .serega {
  bottom: 0px;
  left: 200px;
  z-index: 10;
}
.reviews .reviews-container .kesha {
  right: 0px;
  bottom: 160px;
  z-index: 11;
}
.reviews .reviews-container .oleg {
  left: 56px;
  bottom: 264px;
}
.reviews .reviews-container .semen {
  right: 382px;
  bottom: 359px;
  z-index: 12;
}
.reviews .reviews-container button {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #4754EB;
  background-color: #fff;
  font-size: 18px;
}

.coolPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
.coolPrice .coolPrice__container {
  max-width: 1280px;
  display: flex;
  gap: 24px;
}
.coolPrice .coolPrice__container .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.coolPrice .coolPrice__container .right h2 {
  font-size: 56px;
  line-height: 70px;
  margin-bottom: 30px;
}
.coolPrice .coolPrice__container .right form {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 465px;
}
.coolPrice .coolPrice__container .right form input {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 16px;
  padding: 20px 16px;
  border: none;
  font-family: "Visuelt Pro", "sans-serif";
  font-size: 18px;
  color: #808080;
}
.coolPrice .coolPrice__container .right form button {
  position: absolute;
  right: 0;
  margin-right: 8px;
}
.coolPrice .coolPrice__container .right p {
  color: #595959;
  max-width: 350px;
  margin-top: 16px;
}
.coolPrice .coolPrice__container .right p span {
  color: #505DEC;
}

.questions {
  background-color: rgba(255, 255, 255, 0.65);
  background-image: radial-gradient(circle at 100% -30%, rgba(134, 51, 176, 0.3) 0%, transparent 40%), radial-gradient(circle at 110% -50%, rgba(235, 71, 139, 0.5) 0%, transparent 35%), radial-gradient(circle at 0% 115%, rgba(71, 84, 235, 0.3) 0%, transparent 40%), radial-gradient(circle at 0% 115%, rgba(134, 51, 176, 0.4) 0%, transparent 20%);
}
.questions .questions__container {
  margin: 0 auto;
  max-width: 1350px;
  padding: 80px 5px;
}
.questions .questions__container h2 {
  margin-left: 30px;
}
.questions .questions__container .questions__container-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;
}
.questions .questions__container .questions__container-list .question {
  border: 1px solid #fff;
  border-radius: 16px;
}
.questions .questions__container .questions__container-list .question .question__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.questions .questions__container .questions__container-list .question .question__header h2 {
  margin-left: 32px;
}
.questions .questions__container .questions__container-list .question .question__header .button {
  margin-right: 12px;
}
.questions .questions__container .questions__container-list .question p {
  color: #808080;
  padding: 16px 24px;
  max-width: 1270px;
  line-height: 24px;
}

.first-header {
  border-radius: 16px 16px 0 0;
}

.not-first-header {
  border-radius: 16px;
}

.callback {
  background-color: #fff;
  padding: 80px 0px;
}
.callback .callback__container {
  margin: 0 auto;
  display: flex;
  max-width: 1280px;
  gap: 160px;
}
.callback .callback__container .left p {
  max-width: 465px;
  color: #808080;
  margin-bottom: 24px;
}
.callback .callback__container .left form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}
.callback .callback__container .left form input, .callback .callback__container .left form textarea {
  border: none;
  background-color: #f2f2f2;
  padding: 16px;
  border-radius: 16px;
}
.callback .callback__container .left .answer {
  display: flex;
  gap: 24px;
}
.callback .callback__container .left .answer p {
  max-width: 238px;
  margin: auto 0;
}
.callback .callback__container .left .answer p span {
  color: #505DEC;
}

footer {
  background-color: #4754EB;
  width: 100%;
  border-radius: 0px 0px 24px 24px;
}
footer .footer__container {
  margin: 24px auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer__container .left {
  color: white;
  font-weight: 200;
}
footer .footer__container .left p:not(:nth-child(1)) {
  font-size: 16px;
}
footer .footer__container .right {
  font-size: 16px;
}
footer .footer__container .right a {
  display: flex;
  color: #fff;
  gap: 8px;
  text-decoration: none;
}
footer .footer__container .right a:hover {
  text-decoration: underline;
}
footer .footer__container .right img {
  width: 16px;
  height: 16px;
}

/*# sourceMappingURL=style.css.map */
