@media (max-width: 1520px) {
    header{
        .header-right{
            display: flex;
            justify-content: space-between;
            gap: 3rem;
        }
    }
}
@media (max-width: 1455px) {
    header{
        .header-right{
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }
    }
}