.header{
    background-color: $main-white;
    border-radius: 24px 24px 0 0;
    width: 100%;
    padding: 28px 56px;
    &-container{
        max-width: 1280px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        .header-left{
            button{
                display: none;
            }
            .headline{
                color: $blue;
            }
        }
        .header-right{
            display: flex;
            justify-content: space-between;
            max-width: 890px;
            width: 100%;
            nav{
                ul{
                    display: flex;
                    list-style-type: none;
                    color: $main-grey;
                    gap: 24px;
                    li{
                        a{
                            cursor: pointer;
                            color: $main-grey;
                            text-decoration: none;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .headers-buttons{
                display: flex;
                gap: 16px;
                .lang{
                    span:not(span:first-child){
                        cursor: pointer;
                        color: $main-grey;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                .signin-up{
                    .button-svg{
                        display: none;
                    }
                    a:first-child{
                        color: $main-white;
                        padding: 12px 24px;
                        background-color: $blue;
                        border-radius: 16px;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}